body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    border-radius: 5px;
    width: 260px;
    display: inline-block;
}

input,
select:focus {
    border-color: black;
}

input,
select {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: #E8E9D7;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border-color: #E8E9D7;
    background-color: #F7F8E3;
    margin-top: 10px;
}

#resultado {
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    max-height: 25px;
    overflow-y: auto;
}